/* 
    Document   : screen.css
    Created on : 19.03.2013, 20:47:49
    Author     : Enrico Lauterschlag 
    
    Farbcodes: dunkelblau -> #0c5a84    hellblau -> #2688bc    
*/

body {
        font-family: 'Voces', cursive;
        font-size: 14px;
        color:#000;
        background:url(../images/background.png);
}

/*
* Formatierung der &Uuml;berschriften
*/
h1, h2, h3, h4, h5, h6 {
    color:#2688bc;
}

h1{
        font-size:24px;
}

h2{
        font-size:22px;
}

h3{
        font-size:20px;
}

h4{
        font-size:18px;
}

h5{
        font-size:16px;
}

h6{
        font-size:14px;
}

p{
        text-align:justify;
}

p, dl, hr, ol, ul, pre, address, fieldset, figure, iframe {
    margin-bottom:20px;
    font-weight:normal;
}

img {
	padding:10px;
	margin-right:20px;
	border:1px solid #ccc;
	float:left;
}

a img {
    border:0;
}
a, a:visited {
        text-decoration:none;
        color:#2688bc;
}
a:hover {
        color:#ffa401;
        text-decoration:underline;
}

/*
* Listen-Formatierungen
*/
ul ul {
        margin:0px;
}

ul li {
        list-style-type:square;
}

ul ul li{
        list-style-type:disc;
}

/*
*Tabelle
*/
table{
        background:#eee;
        border-radius: 0 0 10px 10px;
                -webkit-border-radius:0 0 10px 10px;
                -moz-border-radius:0 0 10px 10px;
        border-collapse:collapse;
        border-spacing:0;
        text-align:left;
}

caption {
        background:#2688bc;
        border-radius:10px 10px 0 0;
                -webkit-border-radius:10px 10px 0 0;
                -moz-border-radius:10px 10px 0 0;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        color:#fff;
        font-size:15px;
        font-weight:bold;
        padding:10px 0 10px 10px;
        text-align:left;
        text-shadow:0 -1px 1px rgba(0,0,0,.5);
        border:1px solid #0c5a84;
        margin-top: 20px;
}

th, td {
        padding:5px 10px 5px 10px;
        border-bottom:1px solid #fff;
}

.errors {
    color: red;
}

/*
*Button
*Tutorial: http://www.usabilitypost.com/2012/01/10/pressed-button-state-with-css3/
*/

.button-link {
    padding: 5px 8px;
    color:#fff;
    font-weight:bold;
    text-decoration:none;
    background-color:#2688bc;
    border:1px solid #0c5a84;
    border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
    cursor: pointer;
}

.button-link:hover {
        color:#fff;
        text-decoration:none;
        background-color:#0c5a84;
}

.button-link:active {
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background-color:#2688bc;
    border: solid 1px #0c5a84;
}

.button-link:visited {
        color:#fff;
}

/*
* Formatierungen f�r Formulare
*/

fieldset {
        padding:20px;
}

legend {
        font-weight:bold;
}

label {
        display: block;
        margin: 10px 0 10px 0;
}

form table {
        border:0px;     
}

form table td {
        vertical-align:middle;
        padding:5px 10px 5px 10px;
        background:#fff;
        border-radius:0 0 0 0;
}

input[type="text"], input[type="password"], input[type="radio"], input[type="checkbox"], textarea, select {
        border-radius:5px;
        border:1px solid #ccc;
        padding:3px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, textarea:focus, select:focus {
        border:1px solid #2688bc;
        box-shadow:0px 0px 10px 4px rgba(38,136,188,0.3);
                -webkit-box-shadow: 0px 0px 10px 4px rgba(38, 136, 188, 0.3);
                -moz-box-shadow: 0px 0px 10px 4px rgba(38, 136, 188, 0.3);
}

input[type="text"], input[type="password"], textarea {
        width:250px;
}

input[type="submit"], input[type="reset"] {
        cursor:pointer;
}

#std-overlay {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: #2688bc;
    opacity: 0.8;
        -ms-filter: "Alpha(Opacity=80)";
        -moz-opacity: 0.80;
}

.std-window {
    position: absolute;
    left: 50%;
    top: 20%;
    width: 50%;
    height: 50%;
    margin-left: -25%;
    background-color: #ffa401;
    border:10px solid#000;
    border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
    box-shadow:5px 5px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}

/*
*Grundger&uuml;st f&uuml;rs Layout
*/

#wrap {
        background-color: #FFF;
        width: 900px;
        margin:0 auto;
        text-align: left;
        border: 1px solid #CCC;
        box-shadow:5px 5px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}

#header {
	position:relative;
    height: 150px;
    background-color: #FFF;
    border-bottom:3px solid #000;
}

#logo {
	height:100px;
	font-family: 'Fugaz One', sans-serif;
	font-weight:bold;
	font-size:50px;
	color:orange;
}

#logo p {
	text-align:center;
}

#main-content {
        display: block;
        width: 860px;
        min-height: 350px;
        float: left;
        margin-top: 10px;
        padding: 0 20px 20px;
}

#loginform{
	postition:absolute;
	margin-top:40px;
	padding:20px 20px 20px 0;
}

/*
*Footer
*/

#footer{
        clear:both;
        position: relative;
        color:#fff;
        background-color:#2688bc;
}

#copyright{
        background-color:#0c5a84;
        margin: 0 0 0;
        padding: 1px 20px;
        font-size: 12px;
        border-top:1px solid #000;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}